/* correlation.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin-top: 20px;
}

.correlation-data {
  background-color: #fff;
  margin: 0 80px;
  padding: 20px;
  text-align: initial;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

b {
  color: #0074d9;
}

.correlation-graph {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.fa {
  margin-right: 5px;
}

.correlation-data p:last-child {
  color: #888;
}

.toggle-button {
  color: #0074d9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button:hover {
  color: #0a4476;
}

.hidden {
  display: none;
}

.toggle-graph {
  text-align: center;
  margin: 20px 0;
}

button.cor-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button.cor-btn:hover {
  background-color: #0056b3;
}
