/* distribution.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin-top: 20px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
}

.distribution-graph {
  max-width: 80%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 30px !important;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  display: block;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.correlation-submit {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.correlation-submit:hover {
  background-color: #0056b3;
}

.fa {
  margin-right: 5px;
}

.toggle-button {
  color: #0074d9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-button:hover {
  color: #0a4476;
}

.hidden {
  display: none;
}

.toggle-graph {
  text-align: center;
  margin: 20px 0;
}

.submit_buttons {
  margin-top: 15px;
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
}
