body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  padding: 20px 0;
  color: #007bff;
  margin: 0;
}

h3 {
  text-align: center;
  margin-top: 18px;
  color: #007bff;
}

h4 {
  margin-top: -7px;
  color: #333;
}

form {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="number"],
input[type="range"],
select {
  width: 97%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

input[type="number"]:focus,
input[type="range"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

span#ageValue {
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-left: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.correlation-analysis {
  font-size: 14px;
}
#Iframe {
  height: calc(100vh - 3.8px) !important;
  width: 100%;
  border: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-group {
  flex-basis: calc(50% - 22px); 
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.feature-label {
  font-size: 12px; 
}
.small-input {
  width: 20% !important;
  padding: 5px !important;
}
.medium-input {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(50% - 22px); 
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  justify-content: space-between;
  width:15%;
  padding: 5px;
  /* margin-bottom: 10px;
  margin-left: 20%; */
}
h4 {
  text-align: center;
}
.dropdown {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 40px;
}
input[type="number"],
input[type="range"],
select {
  margin-left: 10px;
  margin-top: 0px;
  width: 50%;
}

th {
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff; 
  padding: 10px 20px;
  font-size: 16px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; 
}

table {
  width: 100%;
  margin-top: 20px;
}

.fa{
  color: #fff;
}

.report-body{
  background-color: #fff;
}