body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #007bff;
  margin-top: 40px;
}

.training-data {
  background-color: #fff;
  margin: 0 80px;
  padding: 20px;
  text-align: initial;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.train-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

button.train-btn:hover {
  background-color: #0056b3;
}